version: "3.9"

services:
  redpanda:
    image: redpandadata/redpanda:v24.1.10
    command:
      - redpanda start
      - --smp 1
      - --overprovisioned
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
    ports:
      - "19092:19092"
      - "9644:9644"

  redpanda-console:
    image: redpandadata/console:latest
    environment:
      KAFKA_BROKERS: redpanda:9092
    ports:
      - "8080:8080"
    depends_on:
      - redpanda

  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    environment:
      - CLICKHOUSE_DB=tokenpulse
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ch_data:/var/lib/clickhouse
      - ./infra/ch-init.sql:/docker-entrypoint-initdb.d/01_ch-init.sql:ro
      - ./infra/ch-aggr.sql:/docker-entrypoint-initdb.d/02_ch-aggr.sql:ro
      - ./infra/ch-hourly.sql:/docker-entrypoint-initdb.d/03_ch-hourly.sql:ro
      - ./infra/ch-mv-enriched-to-hourly.sql:/docker-entrypoint-initdb.d/04_ch-mv-enriched-to-hourly.sql:ro
volumes:
  ch_data:
